#container {
    margin-top: 8%;
    margin-bottom: 3%;
  }
  
  .logito {
    width: 2%;
  }
  
  .logo {
    width: 12%;
    margin: auto;
  }
  
  .inputs {
    margin: 0 35%;
  }
  
  ion-input {
    margin: 3%; 
  }
  
  .boton {
    text-align: center;
    margin-top: 3%;
  }